
<header class="page-header">
<h1>Login</h1>
</header>

<%= form_tag '/login' do %>

  <div class="email_input"> Email: <%= text_field_tag :email %></div><br>
  <div class="password_input">Password: <%= password_field_tag :password %></div><br>
  <div class="login_button"><%= submit_tag "Login", class: 'btn btn-primary' %><div>

<% end %>






