// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.login_register_links{
  margin: 0px 20px;
}

.email_input{
  margin: 26px;
}

.login_button{
  margin: 0px 190px 0px;
}